/* Footer */


.footer {
    padding: 1rem;
    background-color: map-get($colors, dark-color );
    color: #fff;
    text-align: center;

    .footer__a {
        color: map-get($colors, gold-color );
    }
}


/* End Footer */