/* Confirmacion */
.confirmacion {
    position: relative;
    height: 100vh;

    .fa-chevron-down {
        @include position-i-down;

    }

    .fa-chevron-up {
        @include position-i-up;

    }

    

    .confirmacion__form {
        margin: auto 0;

        fieldset {
            border: none;

        }

        legend {
            padding: 1rem;
            font-size: 24px;

        }

        input,
        textarea,
        select {
            padding: 0.4rem;
            width: 70%;

            margin-bottom: 1rem;
            border: none;
            border-radius: 0.3rem;

        }

        .input__radio {
            display: inline;
            width: auto;
            margin-left: 1rem;
            margin-bottom: 1rem;
        }

        textarea {
            height: 4rem;
        }

        .btn {
            width: 50%;
            background-color: map-get($colors, dark-color);
            color: #fff;
        }
    }

}

@media screen and (min-width: 768px) {

    .confirmacion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .confirmacion__text {
        margin: auto 0;
    }



}
@media screen and (max-width: 768px) {
.confirmacion__text {
        margin-bottom: 4rem;
    }
}

/* End Confirmacion */