.header {
    padding: 0.5rem;
    text-align: center;

    .header__marca {
        display: flex;
        align-items: center;

        .header__logo {
            height: 3rem;
            width:3rem;
            opacity: 0.75;
            margin: 0 1rem;
            transition: transform .5s ease-in-out;
            &:hover {
                opacity: 1;
                transform: scale(1.1);
                
                
            }
        }

        .header__texto {
            color: map-get($colors, gold-color );
            font-family: $secondary_font_family;
            font-size: 2rem;
        }

    }
   

    .header__nav {
        margin-right: 3rem;



        .nav__a {
           display: none;

        }

        & :hover {
            background-size: 75% 0.1rem;
            color: #ffffff;
            transition: all 0.5s ease-in-out;


        }

        & ::after {
            background-size: 75%  0.1rem;
            color: #ffffff;
            transition: all 0.5s ease-in-out;


        }
    }

    



}



@media screen and (min-width: 768px) {
    .header {

        display: flex;
        justify-content: space-between;
        align-items: center;


        .header__menuhamb {
            display: none ;
           
        }
        
        .nav__a {
            text-decoration: none;
            color: #acacac;
            padding: 1rem;
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 50% 80%;
            background-repeat: no-repeat;
            background-size: 0% 0.1rem;
            transition: background-size .3s;
            display: inline !important;
            /* DUDA porque no funciona sin el !important? */
        }
    }
}

/*End Header*/