/*Hero*/
.hero {
    margin-top: -6rem;  
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(../img/fondo_hero.webp);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    height: calc(100vh + 2rem);
    color: #fff;
    
    .hero__title {
    
        text-align: center;
        font-weight: bold;     
        margin-top: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       

        h1, h4{
            letter-spacing: 0.5rem;        
            text-transform: uppercase;
        }

       
    
    }

    
   
}


@media screen and (min-width: 768px) {

  

    .hero i.fa-chevron-down {
        position: absolute;
        bottom: -70%;
        right: 50%;
        font-size: 30px;
       
        
    }

   
}

/*End Hero*/