/*Nosotros*/
.nosotros{
position: relative;

.nosotros__text {
    margin-bottom: 3rem;
    
}

.fa-chevron-down{
    @include position-i;
    
}


.nosotros__acordion {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    overflow: hidden;
    list-style: none;


    .accordion {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        height: 100vh;
        flex: auto;
        width: 20%;
        transition: all 0.5s ease-in-out 0s;


        &:hover {

            width: 100%;


        }

      
    }


}
}
@media screen and (min-width: 768px) {
    .nosotros {

        display: grid;
        grid-template-columns:repeat(2, 1fr);

        .nosotros__text {
            margin: auto 0;
            
        }


    }

}

/*End Nosotros*/