/*Nosotros*/
.nosotros{
position: relative;



.fa-chevron-down{
    @include position-i-down;
    
}
.fa-chevron-up{
    @include position-i-up;
    
}


.nosotros__acordion {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    overflow: hidden;
    list-style: none;


    .accordion {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;       
        height: 100vh;
        flex: auto;
        width: 20%;
        transition: all 0.5s ease-in-out 0s;


        &:hover {

            width: 100%;


        }

      
    }


}
}
@media screen and (min-width: 768px) {
    .nosotros {

        display: grid;
        grid-template-columns:repeat(2, 1fr);

        .nosotros__text {
            margin: auto 0;
            
        }


    }

}
@media screen and (max-width: 768px) {

    .nosotros__text {      
        position: absolute;
        // top: 50%;
        bottom: 10%;
        color: #fff;
        z-index: 10;
        padding-bottom: 1rem ;
        background-image: linear-gradient(to right, #c1c161 0%, #c1c161 100%);        
        
    
    }
    
   
}


/*End Nosotros*/