/* Animations */

/* Animacion background dorado */

.background-gradient {
    background-image: linear-gradient(to right, #c1c161 0%, #c1c161 0%, #eeeed1 100%);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media screen and (min-width: 768px) {
    .background-gradient {

        height: 100vh;

    }


}

/* Fin Animacion background dorado */



/* Animacion flechas bounce  */
.fa-chevron-down,
.fa-chevron-up {
    z-index: 4;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: #383838d5;
    animation: bounce 2s ease-in-out infinite;
    display: block;
}

.fa-chevron-up.white,
.fa-chevron-down.white {
    @extend.fa-chevron-down;
    color: #f1f1f1;



}

.fa-chevron-down:hover,
.fa-chevron-up:hover {
    color: map-get($colors, gold-color);

}

@keyframes bounce {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

}

/* Fin Animacion flechas bounce  */

/* Animacion Scroll tipo Diapositiva */

body {

    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
    display: none;
}

header,
section, footer {
    scroll-snap-align: start;
   
}



.diapositiva {
    position: absolute;
    right: 1.4rem;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    width: 0.2rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}

.diapositiva__linea {
    background-color: #fff;
    opacity: 0.5;
    height: 20%;
    margin-bottom: 0.2rem;
    border-radius: 3px;
    &.dark{
        background-color: map-get($colors, dark-color);
    }
}

.diapositiva__linea-select {
    background-color: #fff;
    height: 20%;
    margin-bottom: 0.2rem;
    width: 0.3rem;
    border-radius: 3px;
    transition: all 0.1s ease-in-out;
    transform: translateX(-0.1rem);
    &.dark{
        background-color: map-get($colors, dark-color);
    }
}
.diapositiva__linea-select a:hover{
    height: auto;
    cursor: pointer;
   

}
@media screen and (max-width: 768px) {

    .diapositiva{
        display: none;
    }

}


/* Fin Animacion Scroll tipo Diapositiva */
/*End  Animations **/