.header__menuhamb {

    position: absolute;
    top: 0;
    right: 0;
    margin: 1.5rem;


    .header__menuhamb-lineas {
        width: 1.5rem;
        height: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;


        .header__menuhamb-linea {
            height: 0.1rem;
            background-color: rgb(207, 207, 207);
            transition: all 0.5s ease-in-out;
            z-index: 2;

        }


    }

    #btn__menuhamb {
        display: none;
    }

    #btn__menuhamb:checked~.header__menuhamb-lineas .header__menuhamb-linea:first-child,
    .header__menuhamb-lineas:hover .header__menuhamb-linea:first-child {
        transform: translatey(-.2rem);
        z-index: 2;
    }

    #btn__menuhamb:checked~.header__menuhamb-lineas .header__menuhamb-linea:last-child,
    .header__menuhamb-lineas:hover .header__menuhamb-linea:last-child {
        transform: translatey(.2rem);
        z-index: 2;

    }



    .menuhamb__nav .menuhamb__nav-hide {
        text-align: right;
        position: absolute;
        top: -25rem;
        padding: 10rem 1.5rem 2rem 1.5rem;      
        right: -2rem;
        width: 100vw;
        height: auto;
        backdrop-filter: blur(7px);
        z-index: 1;
        transition: all 0.2s ease-in-out;

    }


    #btn__menuhamb:checked~.menuhamb__nav .menuhamb__nav-hide {
        transform: translateY(19rem);

    }





}